@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


*, ::before, ::after{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: "space mono";
    /* outline: 1px solid black; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide{
    display: none;
}

.active{
    background-color: var(--Strong-cyan);
    opacity: 1 !important;
}

.invalid{
    outline: 2px solid red !important;
}

:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --light-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan: hsl(189, 41%, 97%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --white: #fff;
    --dark-cyan: hsl(183, 100%, 15%);
    --padding: 1.5em;
}

body{
    background: var(--light-cyan);
    display: grid;
    height: 100vh;
    font-weight: 700;
}

.logo{
    place-self: center;
    padding: 2em 0;
}

.app{
    max-width: 550px;
    background-color:var(--white);
    border-radius: 25px;
    padding: var(--padding);
    gap: 0.8em;
    place-self: end center;
    display: grid;
    grid-template-areas: 
        "calculation"
        "calculated";
}

.left{
    grid-area: "calculation";
}

.heading{
    color: var(--dark-cyan); 
}

.btn-section{
    margin: 1.5em 0;
}

input[type=number]{
    width: 100%;
    font-weight: 1000;
    font-size: 20px;
    padding: 0.1em 0.3em;
    margin-top: 0.1em;
    border-radius: 5px;
    color:var(--Strong-cyan);
    background-color: var(--light-grayish-cyan);
    background-repeat: no-repeat;
    background-position: 10px 8px;
    background-size: 0.8rem;
    border: none;
    outline: none;
    text-align: end;
}

input[type=number]:focus{
    outline: 2px solid var(--Strong-cyan);

}

.custom-input{
    max-width: 80px;
    height: 30px;
}

#bill{
    background-image: url(./images/icon-dollar.svg);
}

#people{
    background-image: url(./images/icon-person.svg);
}

.btns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    padding: 0.5em 0;
}

.btn{
    padding: 0.5em;
    background-color: var(--dark-cyan);
    border: none;
    color: var(--white);
    border-radius: 5px;
}

.btn:nth-child(6){
    background-color: var(--light-grayish-cyan);
    color: var(--dark-cyan);
    font-weight: 700;
}

.right{
    grid-area: "calculated";
    background-color: var(--dark-cyan);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding);
    max-width: 500px;
}

.ttl p, .tip p{
    font-size: 10px;
}

.container{
    display: flex;
    flex-direction: column;
}

.output{
    font-size: 24px;
    color: var(--Strong-cyan);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.tip-amount{
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.output1{
    grid-column: span 2;
    text-align: right;
    width: 100%;
}

.tip-amount h6{
    color: var(--grayish-cyan);
}

.total{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--white);
    margin-top: 1em;
}

.output2{
    grid-column: span 2;
}

.total h6{
    color: var(--grayish-cyan);
}

.reset-btn{
    background-color: var(--grayish-cyan);
    margin-top: 2em;
    color:hsl(183, 100%, 15%);
    font-weight: 700;
    opacity: 0.6;
}

.active{
    background-color: var(--Strong-cyan);
}



@media screen and (min-width: 768px){

    .logo{
        place-self: start center;
    }

    .app{
        position: absolute;
        place-self: center;
        grid-template-areas: 
        "calculation calculated";
        place-self: center;
    }

}