body{
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em;
}

.main{
    display: grid;
    grid-template-areas:
    'heading'
    'image'
    'btns'
    'article';
    gap: 1.5em;
}

.heading{
    text-align: center;
    grid-area: heading;
}

.img-container{
    border-bottom: 1px solid #666;
    grid-area: image;
    display: flex;
}


#personImg{
    align-self: stretch;
    width: 100%;
    margin: 0 auto;
    max-height: 285px;
    object-fit: contain;
}

.btn-list{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    grid-area: btns;
}

.btn-list li{
    width: fit-content;
}

.btn{
    width: 0.8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--white-clr);
    opacity: 0.1;
}

article{
    display: grid;
    gap: 1em;
    grid-area: article;
}

article *{
    font-weight: 400;
    text-align: center;
}

.h2{
    font-size: min(1.22rem, 5vw);
}

.h3{
    font-size: min(1.6rem, 6vw);
    white-space: nowrap;
}

.text{
    line-height: 1.5rem;
    min-height: calc(8 * 1.5rem);
}

@media screen and (min-width: 768px){
    body{
        display: grid;
        background-image: url(../assets/crew/background-crew-tablet.jpg);
        background-position: center;
        padding: 0;
    }

    .main{
        grid-template-areas: 
        'heading'
        'article'
        'btns'
        'image';
        grid-template-rows: auto 55%;
        min-height: 85vh;
        align-self: end;
    }

    .heading{
        font-size: 1.4rem;
        text-align: left;
        padding-left: 2rem;
    }
    
    .btn-list{
        align-self: center;
    }

    .img-container{
        border: none;
        align-self: end;
    }

    #personImg{
        width: 22rem;
        height: 400px;

    }

    .h2{
        font-size: 1.8rem;
    }

    .h3{
        font-size: 2.8rem;
    }

    .text{
        font-size: 1.2rem;
        max-width: 50ch;
        margin: 0 auto;
        line-height: 1.5rem;
        min-height: calc(6 * 1.5rem);
    }
}

@media screen and (min-width: 1024px){

    body{
        background-image: url(../assets/crew/background-crew-desktop.jpg);
        display: grid;
        grid-template-rows: 20%;
    }

    .main{
        align-self: stretch;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'heading image'
        'article image'
        'btns image';
        height: auto;
        min-height: initial;
        padding-left: 2em;
        width: 100%;
        max-width: 1232px;
        margin: 0 auto;
    }

    .heading{
        align-self: start;
        padding: 0;
    }

    .img-container{
        position: relative;
        display: grid;
        align-self: stretch;
    }

    #personImg{
        align-self: end;
        width: 50%;
        height: auto;
        max-height: none;
    }

    article{
        align-self: center;
        gap: 2em;
        margin-bottom: 4rem;
    }

    article *{
        text-align: left;
    }

    .text{
        margin: 0;
    }

    .btn-list{
        align-self: start;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1400px) {
    #personImg{
        width: 75%;
    }
}

@media screen and (hover:hover){
    .btn:hover:not(.btn.crew-active){
        opacity: 0.4;
    }
}

.crew-active{
    opacity: 1;
}