@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*, ::before, ::after{
    padding: 0;
    margin: 0;
    font-family: 'rubik';
    color: #ddd;
    /* outline: 1px solid red; */
}

:root{
    --primary: hsl(235, 46%, 20%);
}

button{
    background: transparent;
    border: none;
}

body{
    background-color: hsl(226, 43%, 10%);
    padding: 5%;
}

.main{
    display: grid;
    gap: 1em;
}

.person{
    background-color: var(--primary);
    border-radius: 12px;
}

.person-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1.5em;
    border-radius: 10px;
    background-color: hsl(264, 64%, 52%);
}

.person-text p:first-child{
    font-size: 12px;
}

.person-img{
    width: 4rem;
    border: 2px solid white;
    border-radius: 50%;
}

.name{
    font-size: 1.5rem;
    font-weight: 300;
}

.gray-text, .btn{
    color: #bbb;
}

.btns{
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    border-radius:  0 0 11px 11px;
}

.active{
    color: white;
}

.btn:hover{
    color: white;
    transition: 200ms;
}

.cards{
    display: grid;
    gap: 1em;

    grid-auto-columns: 1fr;
    grid-template-areas: 
    'card1'
    'card2'
    'card3'
    'card4'
    'card5'
    'card6';
}

#work{
    grid-area: card1;
    background-color: hsl(15, 100%, 70%);
    background-image: url(./images/icon-work.svg);
}

#play{
    grid-area: card2;
    background-color: hsl(195, 74%, 62%);
    background-image: url(./images/icon-play.svg);
}

#study{
    grid-area: card3;
    background-color: hsl(348, 100%, 68%);
    background-image: url(./images/icon-study.svg);
}

#exercise{
    grid-area: card4;
    background-color: hsl(145, 58%, 55%);
    background-image: url(./images/icon-exercise.svg);
}

#social{
    grid-area: card5;
    background-color: hsl(264, 64%, 52%);
    background-image: url(./images/icon-social.svg);
}

#selfcare{
    grid-area: card6;
   background-color: hsl(43, 84%, 65%);
   background-image: url(./images/icon-self-care.svg);
}

.card{
    border-radius: 12px;
    padding-top: 2em;

    background-repeat: no-repeat;
    background-size: 4.5em;
    background-position: right 2em top -0.5em;
}

.data{
    padding: 1.5em;
    background-color: var(--primary);
    border-radius: 12px;

    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'title ellipsis'
    'hours prv-hours';
}

.title{
    grid-area: title;
    place-self: center start;
    font-size: 18px;
}

.hours{
    grid-area: hours;
    place-self: center start;
    font-size: 1.8em;
    font-weight: 300;
}

.ellipsis{
    grid-area: ellipsis;
    place-self: center end;
}

.prv-hours{
    grid-area: prv-hours;
    place-self: center end;
    white-space: nowrap;
}

@media screen and (min-width: 768px){

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0 3%;
        place-items: center;
    }

    .main{
        max-width: 900px;
        grid-template-areas: 
        'person cards cards cards'
        'person cards cards cards';
    }

    .person{
        grid-area: person;
    }

    .person-info{
        flex-direction: column;
        height: 55%;
        align-items: flex-start;
        justify-content: space-around;
    }

    .btns{
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        padding: 1.2em 1.5em;
    }

    .cards{
        grid-area: cards;

        grid-template-areas: 
        'card1 card2 card3'
        'card4 card5 card6';
    }

    .data{
        grid-template-areas: 
        'title ellipsis'
        'hours hours'
        'prv-hours prv-hours';
    }

    .prv-hours{
        place-self: center start;
        font-size: 0.7rem;
        white-space: nowrap;
    }

    #selfcare{
        white-space: nowrap;
    }
}

@media screen and (min-width: 1300px) {


    :root{
        font-size: 20px;
    }

    .main{
        max-width: 1200px;
    }
    
    
}

@media (hover: hover){

    .data:hover{
        background-color: hsl(235, 46%, 30%);
        cursor: pointer;
        transition: 200ms;
    }

}